/* start of global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Pliant", sans-serif;
}

@font-face {
  font-family: "Right Grotesk";
  src: url(font/PPRightGrotesk-CompactDark.otf);
  font-weight: 500;
  font-style: normal;
}
/* end of global styles */
